/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}


.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.upload-section, .gallery-section {
    margin-bottom: 20px;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}

#gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.item-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border: 1px solid #ccc; 
    padding: 10px; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);   
}

.item-container img {
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
    margin-right: 10px;
}

.text-container {
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
